#contenedor {
  width: 100dvw;
  min-height: 100dvh;
  padding-top: 1rem;
  height: auto;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
}
