#Nav {
  width: 100vw;
  height: clamp(20px, 30px, 5vh);
}
.Form-search {
  width: 100vw;
  height: clamp(20px, 30px, 5vh);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(92, 112, 223);
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
#Text {
  width: clamp(150px, 50%, 200px);
  border-radius: 10px;
  text-align: center;
}
.Status {
  width: clamp(80px, 25%, 100px);
  border-radius: 10px;
}
.boton {
  width: clamp(50px, 20%, 60px);
  height: clamp(20px, 30px, 5vh);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  padding: 1px;
}
.color-boton {
  background-image: linear-gradient(to right, #82a8d1, #4ab2e2);
}
.color-boton:hover {
  background-image: linear-gradient(to right, #0b7dda, #4ab2e2);
  cursor: progress;
}
@media screen and (width > 500px) {
  .Form-search {
    gap: 1rem;
  }
}
